.Apka {
  display: flex;
  flex-direction: column;
}

.ukryte {
  display: none;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.losuj-tekst {
  margin-top: 20px
}

.wyniki h2 {
  margin-top: 20px;
  text-align: center
}

.wyniki {
  margin: auto;
}

.wynik {
  display: flex;
  align-items: center;
  align-items: flex-start;
  margin-top: 30px;
  gap: 20px
}

.zobacz-wiecej {
  display: block;
  margin-top: 10px;
  color: #000;
  text-decoration: none;
}

.miniatura {
  max-width: 70px
}

.tekst p {
  margin-top: 20px;
}

@keyframes obrot {
  from {
    transform: rotate(0deg)
  }
  to {
    transform: rotate(360deg)
  }
}

.ikona {
  width: 70px;
  cursor: pointer;
  animation: obrot 10s linear infinite;
}

.pauza {
  animation-play-state: paused;
}