* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Nunito";
  background-color: #242842;
}

.container {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}

.wrapper {
  padding: 0 20px;
}

.flex-center {
  display: flex;
  justify-content: center;
}